@{
    ViewData["Title"] = "Home Page";
}

<body>
    <h1>Random GUID / UUID Generator</h1>
    <form id="guigenerator" class="formclass" name="guidgen_form">

        <div>



            <label for="guidNumber">Enter Number of GUIDs/ UUIDs Needed(1-2000):</label>
            <input class="guidinpclass" name="guidnumber" type="text" value="10" id="guidnumber">
            <br>

            <label class="checkbox-label" for="chkHypens">Hyphens:</label><input id="chkHypens" type="checkbox" class="checkbox" name="chkHypens" checked="checked">
            <label class="checkbox-label" for="chkUppercase"><span class="tab" />Uppcase: </label><input id="chkUppercase" class="checkbox" type="checkbox" name="chkUppercase">
            <label class="checkbox-label" for="chkBrackets"><span class="tab" />{} Braces:</label><input id="chkBrackets" class="checkbox" type="checkbox" name="chkBrackets">
            <label class="checkbox-label" for="chkBase64"><span class="tab" /><a href="https://en.wikipedia.org/wiki/Base64" target="_blank">Base64 encode:</a> </label><input id="chkBase64" class="checkbox" type="checkbox" name="chkBase64">
            <label class="checkbox-label" for="chkRFC7515"><span class="tab" /> <a href="https://tools.ietf.org/html/rfc7515#appendix-C" target="_blank">RFC 7515:</a> </label><input id="chkRFC7515" class="checkbox" type="checkbox" name="chkRFC7515">
            <label class="checkbox-label" for="chkURL"><span class="tab" />URL encode:</label><input id="chkURL" class="checkbox" type="checkbox" name="chkURL">
            <br>

            <input type="hidden" name="LocalTimestampValue" value="Date().getTime()">
            <input type="button" name="btnGenerate" value="Generate" id="btnGenerate" class="button button2"><span class="tab" />
            <br>

            <textarea class="textclass" name="txtResults" id="txtResults"></textarea>
            <br>

            <b>Results:</b><span class="tab" /><input type="button" value="Copy to Clipboard" class="button" id="copy2cb" /><span class="tab" /><input type="button" class="button" title="Download a .txt file" id="download2txt" value="Download" />
            <br>
            <br>

            <small>
                Use these GUIDs at your own risk! No guarantee of their uniqueness or suitability is given or implied.
            </small>

            <br>
            <br>
        </div>
    </form>
    <footer>
        <p>Contact us: randomguidgen@gmail.com</p>
        <p> &copy; 2021 - RandomGuidGenerator</p>
    </footer>

</body>