/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.button {
    background-color: darkgrey;
    color: black;
    margin: 3px;
    font-weight: bold;
}

    .button:hover {
        background-color: #545454;
    }

.button2 {
    width: 192px;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: Arial, Arial, Helvetica, sans-serif;
    text-align: center;
}

.textclass {
    font-family: Courier New,Courier,monospace;
    font-size: Larger;
    font-weight: bold;
    height: 300px;
    width: 60%;
    color: black;
    background-color: darkgrey;
    border: 7px solid black;
    padding: 1rem 1rem;
    min-height: 3em;
}

.guidinpclass {
    font-weight: bold;
    color: black;
    width: 72px;
    background-color: darkgrey;
}

.checkbox {
    padding: 20em;
    display: inline-block;
}

.formclass {
    font-size: medium;
}

label.checkbox-label input[type=checkbox] {
    position: relative;
    vertical-align: middle;
    bottom: 1px;
}

.tab {
    padding-left: 4px;
}
